<div
  class="beta-lockup{% if compact|default(false) %} beta-lockup--compact{% endif %}"
  role="img"
  aria-label="{{ alt }}"
>
  <img
    class="beta-lockup__image beta-lockup__image--light"
    src="{{ light_logo_url }}"
    alt=""
    aria-hidden="true"
  >
  <img
    class="beta-lockup__image beta-lockup__image--dark"
    src="{{ dark_logo_url }}"
    alt=""
    aria-hidden="true"
  >
</div>
